@model ComicProjectFinal.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brands.BrandId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
